# application.yml.sample
spring:
  datasource:
    # 도커 DB 포트가 3307인 경우 그대로 사용, 3306인 경우 수정하세요.
    url: jdbc:mysql://localhost:3307/devnear?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: user
    password: user123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

